<div class="weui-tab">
  <div class="weui-tab__panel">
    
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="order-list-btns">
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
             (click)="getHistoryOrders()">历史订单</a>
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
             (click)="getThreeMonthOrders()">最近三个月</a>
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default"
             (click)="getHalfYearOrders()">最近半年</a>
        </div>
      </div>
    </div>
    
    <div *ngFor="let order of orders" class="weui-panel weui-panel_access">
      <div class="weui-panel__bd" (click)="orderDetail(order.id)" >
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__hd">
            <p style="font-size: 15px;color: #333;">{{order.shopName}}</p>
          </div>
          <div class="weui-panel__bd">
            
            <div *ngFor="let orderLine of order.orderLines" class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src={{orderLine.imgUrl}} style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">{{orderLine.productName}}</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">{{orderLine.qty}} {{orderLine.unitName}}</p>
                <p style="font-size: 15px;color: #888888;"><span>{{orderLine.totalAmount}}</span>元</p>
              </div>
            </div>
            
          </div>
          <div class="weui-panel__ft">
            
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p style="font-size: 13px;color: #888888;">{{order.tradingTime}}</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 15px;">状态：<span>{{order.status}}</span></p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>

</div>
