<div class="weui-tab">
  <form class="weui-tab__panel weui-cells_form" [formGroup]="bindForm">
    
    <div class="tips">
      <p>{{user.name}}，您好！</p>
      <p>请输入您在市场登记的手机号进行商户绑定。</p>
    </div>
    
    <div class="weui-cells">
      <div class="weui-cell weui-cell_vcode" [ngClass]="{'weui-cell_warn': mobileControl.dirty && mobileControl.invalid}">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号：</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入手机号" formControlName="mobile">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn" [ngClass]="{'text-gray': isCounting }" [disabled]="isCounting" (click)="getVCode()">{{btnName}}</button>
          <i class="weui-icon-warn" *ngIf="mobileControl.dirty && mobileControl.invalid"></i>
        </div>
      </div>
      <div class="weui-cell" [ngClass]="{'weui-cell_warn': vcodeControl.dirty && vcodeControl.invalid}">
        <div class="weui-cell__hd">
          <label class="weui-label">验证码：</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入验证码" formControlName="vcode">
        </div>
        <div class="weui-cell__ft">
          <i class="weui-icon-warn" *ngIf="vcodeControl.dirty && vcodeControl.invalid"></i>
        </div>
      </div>
    </div>
    
    <div class="weui-btn-area">
      <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" (click)="doSubmit()">绑定</a>
    </div>
  
  </form>

</div>
