<div class="weui-tab">
  <div class="weui-tab__panel">
  
    <div class="tips">
      <p>（微信用户名称）</p>
      <p>欢迎您注册为新会员，注册成功立即奖励500积分！</p>
    </div>
  
    <div class="weui-cells weui-cells_form">
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">姓名：</label>
        </div>
        <div class="weui-cell__bd">
          <p>微信用户名称</p>
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号：</label>
        </div>
        <div class="weui-cell__bd">
          <p>15159283527</p>
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn">修改手机</button>
        </div>
      </div>
      <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
          <label class="weui-label">手机号：</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入手机号">
        </div>
        <div class="weui-cell__ft">
          <button class="weui-vcode-btn">获取验证码</button>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">验证码：</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入验证码">
        </div>
      </div>
      <div class="weui-cell weui-cell_select weui-cell_select-after">
        <div class="weui-cell__hd">
          <label class="weui-label">性别：</label>
        </div>
        <div class="weui-cell__bd">
          <select class="weui-select">
            <option value="male">男</option>
            <option value="female">女</option>
          </select>
        </div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd">
          <label class="weui-label">地址：</label>
        </div>
        <div class="weui-cell__bd">
          <input class="weui-input" type="text" placeholder="请输入详细地址">
        </div>
      </div>
      
    </div>
  
    <div class="weui-btn-area">
      <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">注册</a>
    </div>
  </div>
</div>
