.order-info, .order-busy {
  padding: 15px 10px;
  font-size: 14px;
}

.order-info .info-header,
.order-info .info-row {
  height: 32px;
  line-height: 32px;
  display: flex;
  padding: 0 15px;
}

.order-info .info_title {
}
.order-info .info_bd {
  flex: 1;
  text-align: right;
}

.order-detail {
  border: 1px solid #dddddd;
  background: #FFFFFF;
  margin-top: 10px;
}

.order-detail .detail_hd {
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-bottom: 1px solid #dddddd;
}

.order-detail .detail_bd {

}

.order-busy {

}
.order-busy .content {
  margin: 0 auto;
  margin-top: 20%;
  width: 50vw;
}
.order-busy .content .pic{
  width: 50vw;
  height: 50vw;
  background-image: url("../../../assets/img/rocket.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.order-busy .content .tips {
  margin-top: 20px;
  width: 100%;
  line-height: 20px;
  text-align: center;
}
