<div class="weui-tab">
  <div class="weui-tab__panel">
    
    <div class="order-info">
      <div class="info-header">
        <div class="info_title" style="font-size: 16px;font-weight: 800;">{{orderDetail?.shopName}}</div>
        <div class="info_bd">
          <p class="payway"><span class="payway{{orderDetail?.payWay}}"></span></p>
        </div>
      </div>
      <div class="info-row">
        <div class="info_title">交易时间：</div>
        <div class="info_bd">{{orderDetail?.tradingTime}}</div>
      </div>
      <div class="info-row">
        <div class="info_title">交易金额：</div>
        <div class="info_bd">￥{{orderDetail?.totalAmount}}</div>
      </div>
      <div class="info-row">
        <div class="info_title">奖励积分：</div>
        <div class="info_bd">{{orderDetail?.origAmount}}</div>
      </div>
      <div class="order-detail">
        <div class="detail_hd">订单明细</div>
        <div class="detail_bd">
          <div class="weui-cell" *ngFor="let orderLine of orderDetail?.orderLines">
            <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
              <img src="./assets/img/jiucai.png" style="width: 50px;display: block">
            </div>
            <div class="weui-cell__bd">
              <p style="font-size: 15px;color: #333;">{{orderLine.productName}}</p>
            </div>
            <div class="weui-cell__ft">
              <p style="font-size: 13px;color: #888888;">{{orderLine.qty}} {{orderLine.unitName}}</p>
              <p style="font-size: 15px;color: #888888;"><span>{{orderLine.totalAmount}}</span> 元</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <app-tab-list></app-tab-list>

</div>
