<div class="weui-tab">
  <div class="weui-tab__panel">
    
    <!-- 日期区间搜索 -->
    <div class="time-interval">
      <div class="time-box">
        <input type="date" class="weui-input" [(ngModel)]="beginTime">
      </div>
      <div class="sign-box">-</div>
      <div class="time-box">
        <input type="date" class="weui-input" [(ngModel)]="endTime">
      </div>
      <div class="btn-box">
        <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary" (click)="getService()">查询</a>
      </div>
      <a routerLink="/shop/water" [queryParams]="{beginTime: beginTime, endTime: endTime}" class="toggle-box"><img src="./assets/img/icon2/more-g.png"></a>
    </div>
    
    <!-- 经营分析 -->
    <div class="analysis">
  
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <p style="text-align: center;">商户交易统计产品维度</p>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__bd">
              <div class="weui-media-box__desc">
                <div class="chart-box" echarts [options]="productOption" [merge]="productMerge"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">
          <p style="text-align: center;">商户交易统计时间维度</p>
        </div>
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__bd">
              <div class="weui-media-box__desc">
                <div class="chart-box" echarts [options]="timeOption" [merge]="timeMerge"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>
  <shop-list-btn></shop-list-btn>

</div>
