.shop-list-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../../../../assets/img/icon2/shop-list4.png");
  background-position: center;
  background-size: 42px;
  background-repeat: no-repeat;
  position: fixed;
  right: 15px;
  bottom: 70px;
}
