<div class="weui-tab">
  <div class="weui-tab__panel">
    
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="order-list-btns">
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">历史订单</a>
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">最近三个月</a>
          <a href="javascript:;" class="weui-btn weui-btn_mini weui-btn_default">最近半年</a>
        </div>
      </div>
    </div>
    
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__hd">
            <p style="font-size: 15px;color: #333;">银翔肉品店</p>
          </div>
          <div class="weui-panel__bd">
            
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/jiucai.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">新鲜韭菜</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">3 斤</p>
                <p style="font-size: 15px;color: #888888;">12.5元</p>
              </div>
            </div>
  
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/tudou.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">荷兰土豆</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">5 斤</p>
                <p style="font-size: 15px;color: #888888;">30.6元</p>
              </div>
            </div>
            
          </div>
          <div class="weui-panel__ft">
            
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p style="font-size: 13px;color: #888888;">2017-12-05 15:26</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 15px;color: red;">￥43.1</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__hd">
            <p style="font-size: 15px;color: #333;">银翔肉品店</p>
          </div>
          <div class="weui-panel__bd">
          
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/jiucai.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">新鲜韭菜</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">3 斤</p>
                <p style="font-size: 15px;color: #888888;">12.5元</p>
              </div>
            </div>
          
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/tudou.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">荷兰土豆</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">5 斤</p>
                <p style="font-size: 15px;color: #888888;">30.6元</p>
              </div>
            </div>
        
          </div>
          <div class="weui-panel__ft">
          
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p style="font-size: 13px;color: #888888;">2017-12-05 15:26</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 15px;color: red;">￥43.1</p>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__bd">
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__hd">
            <p style="font-size: 15px;color: #333;">银翔肉品店</p>
          </div>
          <div class="weui-panel__bd">
          
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/jiucai.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">新鲜韭菜</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">3 斤</p>
                <p style="font-size: 15px;color: #888888;">12.5元</p>
              </div>
            </div>
          
            <div class="weui-cell">
              <div class="weui-cell__hd" style="position: relative;margin-right: 10px;">
                <img src="./assets/img/tudou.png" style="width: 50px;display: block">
              </div>
              <div class="weui-cell__bd">
                <p style="font-size: 15px;color: #333;">荷兰土豆</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 13px;color: #888888;">5 斤</p>
                <p style="font-size: 15px;color: #888888;">30.6元</p>
              </div>
            </div>
        
          </div>
          <div class="weui-panel__ft">
          
            <div class="weui-cell">
              <div class="weui-cell__bd">
                <p style="font-size: 13px;color: #888888;">2017-12-05 15:26</p>
              </div>
              <div class="weui-cell__ft">
                <p style="font-size: 15px;color: red;">￥43.1</p>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  
    <div class="weui-loadmore">
      <i class="weui-loading"></i>
      <span class="weui-loadmore__tips">正在加载</span>
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>

</div>
