<div class="weui-tab">
  <div class="weui-tab__panel">
    
    <!-- 日期区间搜索 -->
    <div class="time-interval">
      <div class="time-box">
        <input type="date" class="weui-input" [(ngModel)]="beginTime">
      </div>
      <div class="sign-box">-</div>
      <div class="time-box">
        <input type="date" class="weui-input" [(ngModel)]="endTime">
      </div>
      <div class="btn-box">
        <a href="javascript:;" class="btn-search" (click)="loadWaterList()"></a>
      </div>
      <a routerLink="/shop/analysis" [queryParams]="{beginTime: beginTime, endTime: endTime}" class="toggle-box"><img src="./assets/img/icon2/vatility-g.png"></a>
    </div>
    
    <!-- 流水列表 -->
    <div class="water-list weui-cells">
      
      <div *ngFor="let item of waterList" class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>{{item.reportDate}}</p>
        </div>
        <div class="weui-cell__ft integral-in">￥{{item.totalMoneyAmount}}</div>
      </div>
      
    </div>
  
  </div>
  
  <app-tab-list></app-tab-list>
  <shop-list-btn></shop-list-btn>

</div>
