<div class="weui-tab">
  <div class="weui-tab__panel">
  
    <div class="weui-panel">
      <div class="weui-panel__bd">
        
        <div class="personal_hd weui-cell">
          <div class="personal_hd_img weui-cell__hd">
            <img src="./assets/img/默认头像.png">
          </div>
          <div class="weui-cell__bd">
            <p class="personal_hd_title">{{user.userName}}</p>
            <p class="personal_hd_integral">积分：<span>{{user.integralAmount}}</span></p>
          </div>
        </div>
        
      </div>
    </div>
    
    <div class="weui-panel">
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_small-appmsg">
          <div class="personal_list weui-cells">
            <a class="weui-cell weui-cell_access" href="users/order">
              <div class="weui-cell__hd"><img src="./assets/img/icon2/more-g.png" alt=""></div>
              <div class="weui-cell__bd weui-cell_primary">
                <p>我的订单</p>
              </div>
            </a>
            <a class="weui-cell weui-cell_access" href="users/integral">
              <div class="weui-cell__hd"><img src="./assets/img/icon2/all-g.png" alt=""></div>
              <div class="weui-cell__bd weui-cell_primary">
                <p>积分记录</p>
              </div>
            </a>
            <a class="weui-cell weui-cell_access" href="users/personal">
              <div class="weui-cell__hd"><img src="./assets/img/icon2/set-g.png" alt=""></div>
              <div class="weui-cell__bd weui-cell_primary">
                <p>个人设置</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  
  </div>
  
  <app-tab-list></app-tab-list>

</div>
