/* WeUI style sheet */
@import '../node_modules/weui/dist/style/weui.css';

/* WeUI Exmple style sheet */
@import '../node_modules/weui/dist/example/example.css';

.text-gray {
  color: #888888;
}
.text-red {
  color: #ff0000;
}
.text-green {
  color: #42bd24;
}




.btn-search {
  display: inline-block;
  width: 29px;
  height: 29px;
  background-image: url("../src/assets/img/icon2/search.png");
  background-position: center;
  background-size: 29px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.time-interval {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 10px;
  height: 30px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.time-interval .time-box {
  flex: 1;
  border: 1px solid #dddddd;
}
.time-interval .time-box input{
  width: 100px;
}
.time-interval .sign-box {
  margin: 0 5px;
  line-height: 30px;
}

.time-interval .toggle-box img {
  width: 30px;
  margin-left: 10px;
}
.payway {
  font-size: 16px;
}

.payway span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  position: relative;
  top: 2px;
}
.payway1 {
  background-image: url("./assets/img/icon2/packet-o.png");
}
.payway2 {
  background-image: url("./assets/img/icon2/alipay.png");
}
.payway3 {
  background-image: url("./assets/img/icon2/wx.png");
}
