/* WeUI style sheet */
@import '../node_modules/weui/dist/style/weui.css';

/* WeUI Exmple style sheet */
@import '../node_modules/weui/dist/example/example.css';

.text-gray {
  color: #888888;
}
.text-red {
  color: #ff0000;
}
.text-green {
  color: #42bd24;
}

/*alert 样式*/
.alert {
  border: none;
}

.alert {
  padding: 3px 15px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 3px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: 3px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #4caf50;
  border-color: #509d44;
  color: #ffffff;
}

.alert-success hr {
  border-top-color: #478b3d;
}

.alert-success .alert-link {
  color: #e6e6e6;
}

.alert-info {
  background-color: #9c27b0;
  border-color: #75229b;
  color: #ffffff;
}

.alert-info hr {
  border-top-color: #661e86;
}

.alert-info .alert-link {
  color: #e6e6e6;
}

.alert-warning {
  background-color: #ff9800;
  border-color: #e66300;
  color: #ffffff;
}

.alert-warning hr {
  border-top-color: #cc5800;
}

.alert-warning .alert-link {
  color: #e6e6e6;
}

.alert-danger {
  background-color: #e51c23;
  border-color: #d0183d;
  color: #ffffff;
}

.alert-danger hr {
  border-top-color: #b91536;
}

.alert-danger .alert-link {
  color: #e6e6e6;
}

.close {
  float: right;
  font-size: 19.5px;
  font-weight: normal;
  line-height: 1;
  color: #000000;
  text-shadow: none;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.alert-top{left:0;top:0}
.alert-top-right{width:40%;min-width:200px;right:10px;top:10px}
.alert-bottom{left:0;bottom:0}
.alert-bottom-right{width:40%;min-width:200px;right:10px;bottom:10px}
.alert-center{width:40%;min-width:200px;left:30%;top:20%}
.alert{margin:0 0 5px 0}
.alert-bottom .alert,
.alert-top .alert{border-radius:0}

.btn-search {
  display: inline-block;
  width: 29px;
  height: 29px;
  background-image: url("../src/assets/img/icon2/search.png");
  background-position: center;
  background-size: 29px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.time-interval {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 10px;
  height: 30px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}
.time-interval .time-box {
  flex: 1;
  border: 1px solid #dddddd;
}
.time-interval .time-box input{
  width: 100px;
}
.time-interval .sign-box {
  margin: 0 5px;
  line-height: 30px;
}

.time-interval .toggle-box img {
  width: 30px;
  margin-left: 10px;
}
