<div class="weui-tab">
  <div class="weui-tab__panel">
  
    <div class="integral-list weui-cells">
      <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>购物奖励</p>
        </div>
        <div class="weui-cell__ft integral-in">+2000</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>购物奖励</p>
        </div>
        <div class="weui-cell__ft integral-in">+2000</div>
      </div>
      <div class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>优惠卷兑换</p>
        </div>
        <div class="weui-cell__ft integral-out">-3000</div>
      </div>
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>

</div>
