<div class="weui-tab">
  <div class="weui-tab__panel">
  
    <div class="integral-list weui-cells">
      
      <div *ngFor="let integral of integralList" class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>{{integral.name}}</p>
        </div>
        <div class="weui-cell__ft integral-in">
          <span *ngIf="integral.state == 0" style="color: #2ac845;">-
          <span>{{integral.value}}</span></span>
          <span *ngIf="integral.state == 1" style="color: #ff0000;">+
          <span>{{integral.value}}</span></span>
        </div>
      </div>
      
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>

</div>
