<div class="weui-tab">
  <div class="weui-tab__panel">
  
    <div class="integral-list weui-cells">
      
      <div *ngFor="let integral of integralList" class="weui-cell">
        <div class="weui-cell__hd"></div>
        <div class="weui-cell__bd">
          <p>{{integral.subject|dictConvert:'INTEGRALS_SUBJECT' || "其他积分"}}</p>
        </div>
        <div class="weui-cell__ft">
          <span [ngClass]="{'text-red': integral.amount > 0,'text-green': integral.amount < 0}">
            <span>{{integral.amount}}</span>
          </span>
        </div>
      </div>
  
      <div *ngIf="isLoading" class="weui-loadmore">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
      </div>
      <div *ngIf="!isLoading && isEmpty" class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">没有积分信息</span>
      </div>
      
    </div>
    
  </div>
  
  <app-tab-list></app-tab-list>

</div>
